.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
  background-color:burlywood;
}
#flag-contianer{
 display: flex; 
} 
.image{
 flex-wrap: wrap; 
 margin-bottom:4%;
 width:100%;
 height:auto;
}
header{
  padding:3rem;
  display: flex;
  justify-content: space-between;
  background-color:#E4F9F5;
  color: #fff;
  justify-content: space-between;
  min-width : 300px;
  flex-flow:row;
}

a{
  text-decoration: none;
}
ul{
  list-style:none;
  display: flex;
}
ul li{
  margin-right: 20%;
  align-items: center;
}
ul li .list-item-2{
margin-left:20%;
}
.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
} 
